{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="{% static 'dist/css/log.css' %}" rel="stylesheet">
    <title>{% block title%}
        STS
        {% endblock title%}
    </title>
</head>

<body>
    {% block content%}
    {% endblock content%}

    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'plugins/toastr/toastr.min.js'%}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/adminlte.min.js'%}"></script>
    {% block script %}
    {% endblock script %}
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success'%}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}',{timeOut:5000})</script>
    {% elif message.tags == 'info' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}',{timeOut:5000})</script>
    {% elif message.tags == 'warning' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}',{timeOut:10000})</script>
    {% elif message.tags == 'error' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}',{timeOut:10000})</script>
    {% endif %}
    {% endfor %}
    {% endif %}
    
    {% if form.errors %}
    <script type=text/javascript>toastr.error('{{ form.errors|escape }}',{timeout:5000})</script>
    {% endif %}
</body>

</html>